page-about {
.item {
    min-height: 150rem; /* <- this can be whatever you need */
}
ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

.messageTextBox{
 height: 600px;
}

.errorMessage{
font-size: smaller;
color: red;
}
}
